/* https://images.unsplash.com/photo-1647456494292-65fb36fa8633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 */

/* reset browswer default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: " poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* header */
.navlinks-wrapper {
  background-color: #373a36;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #d48166;
  margin-left: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: 30px;
  gap: 50px;
}

/* navlinks*/
.navlink {
  color: #ffff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none; /* remove underline*/
  transition: 0.5s; /*makes content blink */
  padding: 5px;
  margin: 10px;
}

.navlink:hover{
  color: #d48166;
}

#hero-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url("./Images/hans-ripa-F5J4QJqXQ98-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 120vh;
  position: relative;
}

.hero-wrapper-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.profile-image {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.greeting{
  color: #d48166;
  font-size: 50px;
  font-style: italic;
}

i{
  color: #c0c5be;
}

.full-name {
  font-family: cursive;
  color: #e6e2dd;
  font-size: 25px;
  text-transform: uppercase; /* changes letter*/
  margin: 10px 0;
}

.brief {
  color: #d48166;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*icons*/
.hero-media-wrapper a svg {
  width: 50px;
  height: 50px;
  text-decoration: none;
  fill: #e6e2dd;
  border: 1px solid #e6e2dd;
  border-radius: 50%;
  padding: 4px;
  margin: 15px;
  transition: 0.5s;
}

.hero-media-wrapper svg:hover {
  fill: #ffffff;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

.btn {
  background-color: #d48166;
  color: #e6e2dd;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 26px;
  border: none;
  margin: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transform: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.download-btn:hover {
  opacity: 0.8;
  background-color: #373a36;
  color: #ffff;
}

/* MAIN BODY CONTENT */

main {
  margin-top: 0;
}

.section {
  padding: 40px;
}

.section h2 {
  font-size: 30px;
  font-weight: bold;
  color: #c0c5be;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 5;
}

#about {
  background-color: #d48166;
  height: 100vh;
  width: 100%;
}

.about-brief {
  text-align: center;
  margin-top: 20px;
  line-height: 3;
  font-size: 25px;
  color: #ffff;
}

/* pictures grid */
.grid{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
}

.gallery{
  background-color: #b98d72;
  padding: 1rem;
}

.header h2{ 
  text-transform: uppercase;
  color:#c0c5be;
  text-align: center;
  font-size: 30px;
  padding: 3rem;
}

.pic{
  width: 100%;
  height: 80%;
}

#one{
  width: 60%;
  height: 90%;
}

#two{
  width: 90%;
  height: 80%;
}

#three{
  width: 100%;
  height:90% ;
}

#four{
  width: 100%;
  height: 90%;
}

#five{
  width: 100%;
  height: 90%;
}

#six{
  width:90%;
  height: 90%;
}

#seven{
  width:90%;
  height:80%;
}

#eight{
  width: 90%;
  height: 90%;
}

#nine{
  width: 100%;
  height: 80%;
}

.item:first-child {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.item:nth-child(2) {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}
.item:nth-child(5) {
  grid-column: 2 / span 3;
  grid-row: 3 / span 2 ;
}

.item:nth-child(9) {
  grid-column: 2 / span 3;
  grid-row: 5 / span 2;
}

.item{
  background:#e6e2dd;
  padding: 1rem;
  border:#783937ff 5px solid;
 }

/* PROJECT CARDS*/
#projects {
  background-color: #783937ff;
  height: 180vh;
  width: 100%;
}

.project-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  gap: 10px;
}

.project-card img {
  width: 80%;
  height: 60%;
  margin-left: 100px;
  padding: 10px;
}

#box1,
#box2,
#box3 {
  margin-top: 80px;
}

.card-content {
  font-size: 20px;
  color: #ffff;
  margin-bottom: 20px;
  margin-left: 80px;
  text-align: center;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.project-links svg {
  margin-left: 80px;
  width: 30px;
  height: 30px;
  fill: #d48166;
}

/* STACK SECTION*/

.stack-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/*chrome*/
.stack-title {
  color: #ffff;
}
.stack-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 100px;
}

.stack-progress::-webkit-progress-value {
  background-color: #d48166;
  border-radius: 100px;
}

/*firefox*/
.stack-progress::-moz-progress-bar {
  background-color: #eee;
  border-radius: 100px;
}

/*IE10*/
.stack-progress {
  color: #f9320a;
  border-radius: 100px;
}

.stack-progress-wrapper label {
  display: block;
}

/* CONTACT ME SECTION*/
#contact {
  background-color: rgb(160, 69, 61);
  height: 170vh;
}

.form-subheading {
  color: #ffff;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-group input {
  border: #ffff 1px solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group textarea {
  border: #d48166 1px solid;
  border-radius: 5px;
  padding: 10px;
  width: 380px;
  height: 340px;
  resize: none;
  margin-bottom: 5px;
  font-size: 18px;
}

/* SOCIAL MEDIA*/
.social-account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}

.social-account-wrapper svg {
  width: 30px;
  height: 30px;
  fill: #d48166; /* either use color or fill*/
}

.social-account-wrapper svg:hover {
  fill: #ffff;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

.main-footer {
  background-color: #373a36;
  color: #ffff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}




/* media query for small screen */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    justify-content: center;
    text-align: center;
  }

  #hero-wrapper {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.452),
        rgba(0, 0, 0, 0.452)
      ),
      url("./Images/Snapchat-355398358.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 170vh;
  }

  .logo {
    display: none;
  }

  .navlinks-wrapper ul {
    display: inline-flex;
    width: 100%;
    gap: 70px;
  }

  .hero-wrapper-content {
    display: flex;
    padding-top: 30px;
    line-height: 4;
  }

  .profile-image {
    width: 20%;
    height: 20%;
  }

  .full-name,
  .brief {
    font-size: 20px;
  }

  .hero-media-wrapper svg {
    width: 18px;
    height: 18px;
  }

  .btn {
    font-size: 15px;
  }

  .section h2 {
    font-size: 20px;
  }

  #about {
    height: 120vh;
  }

  #about p {
    line-height: 3;
    font-size: 14px;
  }

  .card-content {
    font-size: 14px;
    text-align: center;
  }

  #box5,
  #box1 {
    display: none;
  }

  #projects {
    height: 190vh;
  }

  .project-card img {
    width: 80%;
    height: 80%;
    margin-top: 2px;
  }

  .project-card-wrapper {
    width: 90%;
    height: 25%;
  }

  .project-links svg {
    width: 20px;
    height: 20px;
    align-content: center;
    margin: 5px;
  }

  #stack1 {
    display: none;
  }

  .stack-group {
    gap: 20px;
  }

  .form-group input {
    width: 90%;
  }

  .form-group textarea {
    width: 300px;
  }

  #contact {
    height: 200vh;
  }
}



@media (min-width: 320px) and (max-width: 480px) {
  body {
    text-align: center;
  }

  .logo {
    display: none;
  }

  .navlinks-wrapper ul {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    line-height: 2;
  }

  #hero-wrapper {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.452),
        rgba(0, 0, 0, 0.452)
      ),
      url("./Images/Snapchat-748339387.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 115vh;
  }

  .hero-wrapper-content {
    display: block;
    padding-top: 50px;
    line-height: 3;
  }

  .profile-image {
    width: 35%;
    height: 35%;
  }

  .greeting, i{
    font-size: 25px;
  }

  .full-name,
  .brief {
    font-size: 14px;
  }

  .hero-media-wrapper svg {
    width: 10px;
    height: 10px;
  }

  .btn {
    font-size: 14px;
  }

  .section h2 {
    font-size: 15px;
  }

  #about {
    height: 130vh;
  }

  #about p {
    font-size: 16px;
  }

  #projects {
    width: 100%;
    height: 160vh;
    align-items: center;
  }

  .project-card img {
    width: 150%;
    height: 140%;
  }

  .card-content {
    margin-right: -150px;
    font-size: 14px;
    text-align: center;
  }

  .project-card-wrapper {
    width: 70%;
    height: 20%;
    padding-right: 150px;
  }

  .project-links svg {
    display: none;
  }

  #box2,
  #box3, #box4,
  #box5 {
    display: none;
  }

  .stack-group {
    display: block;
    line-height: 2;
  }

  .form-group input {
    width: 70%;
  }

  .form-group textarea {
    width: 230px;
  }

  #contact {
    height: 155vh;
  }
}
