/* https://images.unsplash.com/photo-1647456494292-65fb36fa8633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 */

/* reset browswer default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: " poppins", sans-serif;
}


html{
   scroll-behavior: smooth; 
}
  /* header */
.header-content-wrapper{
    background-color: #373a36;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

/* logo */
.logo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: italic; */
    font-size: 35px;
    font-weight: bold;
    color: #d48166;
}


/* navlinks*/
.navlink{
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none; /* remove underline*/
    transition: 0.5s; /* makes content blink*/
    padding: 10px;
    margin: 14px;
}


.navlink.active{
    color: #d48166;
}


.hero-wrapper{
    background-image: url("./Images/hans-ripa-F5J4QJqXQ98-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 90vh;
    position: relative;
}

.hero-wrapper-content{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.0;
}
.hero-wrapper-overlay {
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    /* z-index: 1; */
    height: 102.5vh;
    width: 100%;
}


.profile-image{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-top: 90px;
    margin-bottom: 20px;
}


.full-name{
    font-family: cursive;
    color: #e6e2dd;
    font-size: 45px;
    text-transform: uppercase; /* changes letter*/
    margin: 10px 0;
}


.brief{
    color: #d48166;
    font-size: 35px;
    font-weight: bold;
    margin-bottom:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/*icons*/
.hero-media-wrapper a svg{
width: 50px;
height: 50px;
text-decoration: none;
fill: #e6e2dd;
border: 1px solid #e6e2dd;
border-radius: 50%; 
padding: 4px;
margin:15px;
transition: 0.5s;
}

.hero-media-wrapper svg:hover{
    fill: #ffffff;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}


.btn{
 background-color: #d48166;
 color: #e6e2dd;
 font-size: 25px;
 font-weight: bold;
 text-decoration: none;
 padding:10px 14px;
 border-radius: 26px;
 border: none;
 margin: 20px;
 letter-spacing: 1px;
 cursor: pointer;
 transform: 0.5s;
}


.btn:hover{
    opacity: 0.8;
}

/* .download-btn{
    background-color: #e6e2dd;
    color: #d48166;
} */


.download-btn:hover{
opacity: 0.8;
background-color: #373a36;
color: #ffff;
}



/* MAIN BODY CONTENT */

main {
    margin-top: 0;
    
} 

.section{
    padding: 40px;
}


.section h2{
    font-size: 30px;
    font-weight: bold;
    color: #c0c5be;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;
}

#about{
    background-color: #d48166;
    height: 90vh;
    width: 100%;
}

.about-brief{
    text-align: center;
    margin-top: 30px;
    line-height: 3;
    font-size: 25px;
    color: #ffff;
}

/* PROJECT CARDS*/
#projects{
    background-color: #783937ff;
    height: 120vh;
    width: 100%;
}

.project-card-wrapper{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 35%;
    gap: 20px;
    margin-top: 2rem;
}


/* .project-card{
    padding: 14px;
    box-shadow: 0 4px 8px o rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
} */


.project-card img{
    width: 80%;
    height: 80%;
    margin: auto;
}

.card-content{
    color: #ffff;
    margin-bottom: 20px;
    margin-right: 70px;
    text-align: center;
}

.project-links{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}


.project-links svg{
    margin-right: 50px;
     width: 30px;
     height:30px;
     fill: #d48166;
}


 /* STACK SECTION*/

.stack-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

 /*chrome*/
 .stack-title{
    color: #ffff;
 }
 .stack-progress::-webkit-progress-bar{
     background-color: #eee;
     border-radius: 100px;
 }

 .stack-progress::-webkit-progress-value{
     background-color: #d48166;
     border-radius: 100px;
 }

 /*firefox*/
 .stack-progress::-moz-progress-bar{
    background-color: #eee;
    border-radius: 100px;
 }

 /*IE10*/
 .stack-progress{
     color: #f9320a;
     border-radius: 100px;
 }

 .stack-progress-wrapper label{
display: block;
 }

/* CONTACT ME SECTION*/
#contact{
    background-color: rgb(160, 69, 61);
    height: 100vh;
}

.form-subheading{
    color: #ffff;
}


.form-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.form-group input{
    border: #ffff 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}


.form-group label{
    display: block;
    margin-bottom:10px;
}

.form-group textarea{
    border: #d48166 1px solid;
    border-radius: 5px;
    padding:10px;
    width: 380px;
    height:340px;
    resize: none;
    margin-bottom: 10px;
    font-size: 18px;
}

/* .btn{
    background-color: #d48166;
} */



/* SOCIAL MEDIA*/
.social-account-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    /* margin-bottom:16px; */
}


.social-account-wrapper svg{
    width: 30px;
    height: 30px;
    fill: #d48166; /* either use color or fill*/
}


.social-account-wrapper svg:hover{
    fill: #ffff;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}

.main-footer{
    background-color: #373a36;
    color: #ffff;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}



/* media query for small screen */
@media (min-width: 320px ) and (max-width:480px) {
    body{
        text-align: center;
    }

    .hero-wrapper{
        background-image: url('./Images/Snapchat-748339387.jpg');
    }

     .logo{
        display: none;
    }

    .header-content-wrapper, .navlinks-wrapper a {
        display: block;
        align-items: center;
        justify-content: center;
    }

     .hero-wrapper-overlay{
        height: 126.5vh;
    }

    .hero-wrapper-content{
        display: block;
        padding-top: 50px;
        line-height: 7;
    }

    .profile-image{
        width: 29%;
        height: 29%;
    }

    .full-name, .brief{
        font-size: 15px;
    }

    .hero-media-wrapper svg{
         width: 18px;
         height: 18px;
    }

    .btn{
        font-size: 14px;
    }

    #about p{
        line-height: 2;
        margin: 30px;
        padding: 40px;
        font-size: 15px;
    }

    #card-wrapper{
        display: block;
        text-align: center;
        margin-left: 10px;
    }

    .card-content{
        font-size: 15px;
        text-align: center;
        margin: 0;
    }

    .project-card img{
        width: 60%;
        height: 60%;
        padding: 10px;
        margin-top: 20px;
    }

    .project-links svg{
        width: 15px;
        height: 15px;
        margin: 10px;
    }


    #box3{
        display: none;
    }

    #socialmedia{
        display: none;
    }

    #staack{
        margin-top: 100px;
    }

    .stack-group{
        display: block;
        margin: 30px;
        line-height: 3;
    }

   .form-group input{
        width: 70%;
    }

   .form-group textarea{
    width: 230px;
   }

}


@media (min-width:481px) and (max-width: 768px) {
  body{
    text-align: center;
  }  

  .hero-wrapper{
    background-image: url('./Images/Snapchat-355398358.jpg');
  }

.logo{
    display: none;
  }

 .navlinks-wrapper{
    display: inline-flex;
    width: 100%
 }

.hero-wrapper-overlay{
    height: 105vh;
  }

.hero-wrapper-content{
    display: flex;
    padding-top: 50px;
    line-height: 4;
}

.profile-image{
    width: 32%;
    height: 32%;
}

.full-name, .brief{
    font-size: 30px;
}

.hero-media-wrapper svg{
     width: 25px;
     height: 25px;
}

.btn{
    font-size: 20px;
}

#about p{
    line-height: 3;
    margin: 40px;
    padding: 40px;
    font-size: 22px;
}

#card-wrapper{
    text-align: center;
    margin: 0;
}

.card-content{
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.project-card img{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 2px;
}

.project-links svg{
    width: 20px;
    height: 20px;
    margin: 10px;
}

}